# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
       - image: circleci/ruby:2.4.2

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Installing dependencies
          command: bundle check || bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "Gemfile" }}

      # run tests!
      - run:
          name: Running tests
          command: bundle exec rake

      # collect reports
      - store_test_results:
          path: ~/repo/test-results
      - store_artifacts:
          path: ~/repo/test-results
          destination: test-results

  deploy:
    docker:
       - image: circleci/ruby:2.4.2
    working_directory: ~/repo
    steps:
      - run:
          name: Publishing gem
          command: |
            mkdir -p ~/.gem
            echo "---\n:rubygems_api_key: $RUBYGEMS_API_KEY" > ~/.gem/credentials
            gem build *.gemspec
            gem publish *.gem

workflows:
  version: 2
  build-n-deploy:
    jobs:
      # Build all branches and all tags
      - build:
          filters:
            tags:
              only: /.*/

      # Deploy no branches and all tags
      - deploy:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
